dss-simple-report-jaxb/src/main/resources/xsd/SimpleReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" 
	targetNamespace="http://dss.esig.europa.eu/validation/simple-report"
	xmlns="http://dss.esig.europa.eu/validation/simple-report" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Root element -->
	<xs:element name="SimpleReport" type="SimpleReport"/>
	
	<xs:complexType name="SimpleReport">
		<xs:sequence>
			<xs:element name="ValidationPolicy">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PolicyName" type="xs:string" minOccurs="0" />
						<xs:element name="PolicyDescription" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DocumentName" type="xs:string" minOccurs="0" />
			<xs:element name="ValidSignaturesCount" type="xs:int" />
			<xs:element name="SignaturesCount" type="xs:int" />
			<xs:element name="ContainerType" type="ContainerType" minOccurs="0" />
			
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Signature" type="Signature" />
				<xs:element name="Timestamp" type="Timestamp" />
			</xs:choice>
			
			<xs:element name="Semantic" type="Semantic" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="ValidationTime" type="xs:dateTime" />
	</xs:complexType>
	
	<xs:simpleType name="ContainerType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASiC-S" />
			<xs:enumeration value="ASiC-E" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="Token" abstract="true">
		<xs:sequence>
			<xs:element name="Filename" type="xs:string" minOccurs="0" />
			<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />
			<xs:element name="Indication" type="Indication" />
			<xs:element name="SubIndication" type="SubIndication" minOccurs="0" />

			<xs:element name="ValidationDetails" type="Details" minOccurs="0" />
			<xs:element name="QualificationDetails" type="Details" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" /> <!-- Must be a String type in order to avoid conflict with DetailedReport in REST/SOAP webServices -->
	</xs:complexType>

	<xs:complexType name="Details">
		<xs:sequence>
			<xs:element name="Error" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Warning" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Info" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Signature">
		<xs:complexContent>
            <xs:extension base="Token">
				<xs:sequence>
					<xs:element name="SigningTime" type="xs:dateTime" minOccurs="0" />
					<xs:element name="BestSignatureTime" type="xs:dateTime" />
					<xs:element name="SignedBy" type="xs:string" minOccurs="0" />
					<xs:element name="SignatureLevel" type="SignatureLevel" minOccurs="0" />
					<xs:element name="SignatureScope" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute type="xs:string" name="name"/>
									<xs:attribute type="xs:string" name="scope"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Timestamps" type="Timestamps" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="CounterSignature" type="xs:boolean" use="optional" />
				<xs:attribute name="ParentId" type="xs:string" use="optional" />
				<xs:attribute name="SignatureFormat" type="SignatureFormat" use="required" />
				
				<xs:attribute name="ExtensionPeriodMin" type="xs:dateTime" use="optional" />
				<xs:attribute name="ExtensionPeriodMax" type="xs:dateTime" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Timestamps">
		<xs:sequence>
			<xs:element name="Timestamp" type="Timestamp" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Timestamp">
		<xs:complexContent>
            <xs:extension base="Token">
				<xs:sequence>
					<xs:element name="ProductionTime" type="xs:dateTime" />
					<xs:element name="ProducedBy" type="xs:string" minOccurs="0" />
					<xs:element name="TimestampLevel" type="TimestampLevel" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="Indication" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TOTAL_PASSED" />
			<xs:enumeration value="PASSED" />
			<xs:enumeration value="INDETERMINATE" />
			<xs:enumeration value="FAILED" />
			<xs:enumeration value="TOTAL_FAILED" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SubIndication" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_SIGNING_CERTIFICATE_FOUND" />
			<xs:enumeration value="FORMAT_FAILURE" />
			<xs:enumeration value="SIGNATURE_POLICY_NOT_AVAILABLE" />
			<xs:enumeration value="POLICY_PROCESSING_ERROR" />
			<xs:enumeration value="OUT_OF_BOUNDS_NO_POE" />
			<xs:enumeration value="OUT_OF_BOUNDS_NOT_REVOKED" />
			<xs:enumeration value="NO_CERTIFICATE_CHAIN_FOUND" />
			<xs:enumeration value="TRY_LATER" />
			<xs:enumeration value="REVOKED_NO_POE" />
			<xs:enumeration value="REVOKED_CA_NO_POE" />
			<xs:enumeration value="CHAIN_CONSTRAINTS_FAILURE" />
			<xs:enumeration value="CRYPTO_CONSTRAINTS_FAILURE" />
			<xs:enumeration value="CRYPTO_CONSTRAINTS_FAILURE_NO_POE" />
			<xs:enumeration value="SIGNED_DATA_NOT_FOUND" />
			<xs:enumeration value="HASH_FAILURE" />
			<xs:enumeration value="SIG_CRYPTO_FAILURE" />
			<xs:enumeration value="SIG_CONSTRAINTS_FAILURE" />
			<xs:enumeration value="NOT_YET_VALID" />
			<xs:enumeration value="TIMESTAMP_ORDER_FAILURE" />
			<xs:enumeration value="REVOKED" />
			<xs:enumeration value="EXPIRED" />
			<xs:enumeration value="NO_POE" />
			<xs:enumeration value="CERTIFICATE_CHAIN_GENERAL_FAILURE" />
			<xs:enumeration value="UNEXPECTED_ERROR" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CertificateChain">
		<xs:sequence>
			<xs:element name="Certificate" type="Certificate" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Certificate">
		<xs:sequence>
			<xs:element type="xs:string" name="id" />
			<xs:element type="xs:string" name="qualifiedName" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SignatureLevel">
	    <xs:simpleContent>
		    <xs:extension base="SignatureQualification">
		        <xs:attribute name="description" type="xs:string" />
		    </xs:extension>
	    </xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="SignatureQualification" final="restriction">
		<xs:restriction base="xs:string">
		
			<xs:enumeration value="QESig" />
			<xs:enumeration value="QESeal" />
			<xs:enumeration value="QES?" />
			<xs:enumeration value="AdESig-QC" />
			<xs:enumeration value="AdESeal-QC" />
			<xs:enumeration value="AdES?-QC" />
			<xs:enumeration value="AdESig" />
			<xs:enumeration value="AdESeal" />
			<xs:enumeration value="AdES?" />
			
			<xs:enumeration value="Indeterminate QESig" />
			<xs:enumeration value="Indeterminate QESeal" />
			<xs:enumeration value="Indeterminate QES?" />
			<xs:enumeration value="Indeterminate AdESig-QC" />
			<xs:enumeration value="Indeterminate AdESeal-QC" />
			<xs:enumeration value="Indeterminate AdES?-QC" />
			<xs:enumeration value="Indeterminate AdESig" />
			<xs:enumeration value="Indeterminate AdESeal" />
			<xs:enumeration value="Indeterminate AdES?" />
		
			<xs:enumeration value="Not AdES but QC with QSCD" />
			<xs:enumeration value="Not AdES but QC" />
			<xs:enumeration value="Not AdES" />
			
			<xs:enumeration value="N/A" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SignatureFormat" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="XML-NOT-ETSI" />
			<xs:enumeration value="XAdES-C" />
			<xs:enumeration value="XAdES-X" />
			<xs:enumeration value="XAdES-XL" />
			<xs:enumeration value="XAdES-A" />
			<xs:enumeration value="XAdES-BASELINE-LTA" />
			<xs:enumeration value="XAdES-BASELINE-LT" />
			<xs:enumeration value="XAdES-BASELINE-T" />
			<xs:enumeration value="XAdES-BASELINE-B" />
			<xs:enumeration value="CMS-NOT-ETSI" />
			<xs:enumeration value="CAdES-BASELINE-LTA" />
			<xs:enumeration value="CAdES-BASELINE-LT" />
			<xs:enumeration value="CAdES-BASELINE-T" />
			<xs:enumeration value="CAdES-BASELINE-B" />
			<xs:enumeration value="CAdES-101733-C" />
			<xs:enumeration value="CAdES-101733-X" />
			<xs:enumeration value="CAdES-101733-A" />
			<xs:enumeration value="PDF-NOT-ETSI" />
			<xs:enumeration value="PAdES-BASELINE-LTA" />
			<xs:enumeration value="PAdES-BASELINE-LT" />
			<xs:enumeration value="PAdES-BASELINE-T" />
			<xs:enumeration value="PAdES-BASELINE-B" />
			<xs:enumeration value="PKCS7-B" />
			<xs:enumeration value="PKCS7-T" />
			<xs:enumeration value="PKCS7-LT" />
			<xs:enumeration value="PKCS7-LTA" />
			<xs:enumeration value="JSON-NOT-ETSI" />
			<xs:enumeration value="JAdES-BASELINE-B" />
			<xs:enumeration value="JAdES-BASELINE-T" />
			<xs:enumeration value="JAdES-BASELINE-LT" />
			<xs:enumeration value="JAdES-BASELINE-LTA" />
			<xs:enumeration value="UNKNOWN" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="TimestampLevel">
		<xs:simpleContent>
			<xs:extension base="TimestampQualification">
				<xs:attribute name="description" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="TimestampQualification" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="QTSA" />
			<xs:enumeration value="TSA" />
			<xs:enumeration value="N/A" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="Semantic">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Key" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
</xs:schema>