dss-diagnostic-jaxb/src/main/resources/xsd/DiagnosticData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" targetNamespace="http://dss.esig.europa.eu/validation/diagnostic"
	xmlns="http://dss.esig.europa.eu/validation/diagnostic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="DiagnosticData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentName" type="xs:string" minOccurs="0" />
				<xs:element name="ValidationDate" type="xs:dateTime" />
				<xs:element name="ContainerInfo" type="ContainerInfo" minOccurs="0" />
				<xs:element name="Signatures" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Signature" type="Signature" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UsedCertificates" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Certificate" type="Certificate" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UsedRevocations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Revocation" type="Revocation" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UsedTimestamps" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Timestamp" type="Timestamp" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="TrustedLists" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TrustedList" type="TrustedList" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListOfTrustedLists" type="TrustedList" minOccurs="0" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ContainerInfo">
		<xs:sequence>
			<xs:element name="ContainerType" type="xs:string" minOccurs="0" />
			<xs:element name="ZipComment" type="xs:string" minOccurs="0" />
			<xs:element name="MimeTypeFilePresent" type="xs:boolean" minOccurs="0" />
			<xs:element name="MimeTypeContent" type="xs:string" minOccurs="0" />
			
			<xs:element name="ManifestFiles" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ManifestFile" type="ManifestFile" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="ContentFiles" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContentFile" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ManifestFile">
		<xs:sequence>
			<xs:element name="Filename" type="xs:string" minOccurs="0" />
			<xs:element name="SignatureFilename" type="xs:string" minOccurs="0" />
			<xs:element name="Entries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Entry" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AbstractToken" abstract="true">
		<xs:attribute name="Id" type="xs:ID" use="required" />
	</xs:complexType>

	<xs:complexType name="Signature">
		<xs:complexContent>
            <xs:extension base="AbstractToken">
				<xs:sequence>
					<xs:element name="SignatureFilename" type="xs:string" />
					<xs:element name="Parent" type="xs:IDREF" minOccurs="0" />
					<xs:element name="ErrorMessage" type="xs:string" minOccurs="0" />
					<xs:element name="DateTime" type="xs:dateTime" minOccurs="0" />
					<xs:element name="SignatureFormat" type="xs:string" />
		
					<xs:element name="StructuralValidation"	type="StructuralValidation" minOccurs="0" />
					
					<xs:element name="DigestMatchers" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DigestMatcher" type="DigestMatcher" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="BasicSignature" type="BasicSignature" />
					<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
					<xs:element name="CertificateChain"	type="CertificateChain" minOccurs="0" />
		
					<xs:element name="ContentType" type="xs:string" minOccurs="0" />
					<xs:element name="MimeType" type="xs:string" minOccurs="0" />
					<xs:element name="ContentIdentifier" type="xs:string" minOccurs="0" />
					<xs:element name="ContentHints" type="xs:string" minOccurs="0" />
					<xs:element name="SignatureProductionPlace" type="SignatureProductionPlace" minOccurs="0" />
					<xs:element name="CommitmentTypeIndication" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Indication" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ClaimedRoles" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ClaimedRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CertifiedRoles" type="CertifiedRole" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="Policy" type="Policy" minOccurs="0" />
					<xs:element name="PDFSignatureDictionary" type="PDFSignatureDictionary" minOccurs="0" />
								
					<xs:element name="FoundTimestamps" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FoundTimestamp" type="FoundTimestamp" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="FoundRevocations" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RelatedRevocations" type="RelatedRevocation" minOccurs="0" maxOccurs="unbounded" />
								<xs:element name="OrphanRevocationRefs" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RevocationRef" type="RevocationRef" minOccurs="0" maxOccurs="unbounded" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="FoundCertificates" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FoundCertificate" type="FoundCertificate" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="SignatureScopes" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="SignatureScope" type="SignatureScope" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
				</xs:sequence>
				<xs:attribute name="CounterSignature" type="xs:boolean" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SignatureProductionPlace">
		<xs:sequence>
			<xs:element name="Address" type="xs:string" minOccurs="0" />
			<xs:element name="City" type="xs:string" minOccurs="0" />
			<xs:element name="StateOrProvince" type="xs:string" minOccurs="0" />
			<xs:element name="PostalCode" type="xs:string" minOccurs="0" />
			<xs:element name="CountryName" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Policy">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" />
			<xs:element name="Url" type="xs:string" minOccurs="0" />
			<xs:element name="Description" type="xs:string" minOccurs="0" />
			<xs:element name="Notice" type="xs:string" minOccurs="0" />
			<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" />
			<xs:element name="Asn1Processable" type="xs:boolean" minOccurs="0" />
			<xs:element name="Identified" type="xs:boolean" minOccurs="0" />
			<xs:element name="Status" type="xs:boolean" minOccurs="0" />
			<xs:element name="ProcessingError" type="xs:string" minOccurs="0" />
			<xs:element name="DigestAlgorithmsEqual" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PDFSignatureDictionary">
		<xs:sequence>
			<xs:element name="SignatureFieldName" type="xs:string" minOccurs="0" />
			<xs:element name="SignerName" type="xs:string" minOccurs="0" />
			<xs:element name="Filter" type="xs:string" minOccurs="0" />
			<xs:element name="SubFilter" type="xs:string" minOccurs="0" />
			<xs:element name="ContactInfo" type="xs:string" minOccurs="0" />
			<xs:element name="Reason" type="xs:string" minOccurs="0" />
			<xs:element name="SignatureByteRange" minOccurs="0" >
				<xs:simpleType>
					<xs:list itemType="xs:integer"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Certificate">
		<xs:complexContent>
            <xs:extension base="AbstractToken">
				<xs:sequence>
					<xs:element name="SubjectDistinguishedName" type="DistinguishedName" maxOccurs="unbounded" />
					<xs:element name="IssuerDistinguishedName" type="DistinguishedName" maxOccurs="unbounded" />
					<xs:element name="SerialNumber" type="xs:integer" />
					<xs:element name="CommonName" type="xs:string" minOccurs="0"/>
					<xs:element name="Locality" type="xs:string" minOccurs="0"/>
					<xs:element name="State" type="xs:string" minOccurs="0"/>
					<xs:element name="CountryName" type="xs:string" minOccurs="0"/>
					<xs:element name="OrganizationName" type="xs:string" minOccurs="0"/>
					<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
					<xs:element name="OrganizationalUnit" type="xs:string" minOccurs="0"/>
					<xs:element name="Surname" type="xs:string" minOccurs="0"/>
					<xs:element name="Pseudonym" type="xs:string" minOccurs="0"/>
					<xs:element name="Email" type="xs:string" minOccurs="0"/>
					
					<xs:element name="AuthorityInformationAccessUrls" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CRLDistributionPoints" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="OCSPAccessUrls" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="Sources">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Source" type="CertificateSourceType" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="NotAfter" type="xs:dateTime" />
					<xs:element name="NotBefore" type="xs:dateTime" />
					<xs:element name="PublicKeySize" type="xs:int" />
					<xs:element name="PublicKeyEncryptionAlgo" type="xs:string" />
		
					<xs:element name="KeyUsageBits" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="KeyUsage" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExtendedKeyUsages" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="oid" type="OID" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="IdPkixOcspNoCheck" type="xs:boolean" minOccurs="0" />
		
					<xs:element name="BasicSignature" type="BasicSignature" />
					<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
					<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />
		
					<xs:element name="Trusted" type="xs:boolean" />
					<xs:element name="SelfSigned" type="xs:boolean" />
					
					<xs:element name="CertificatePolicies" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="certificatePolicy" type="CertificatePolicy" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="QCStatementIds" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="oid" type="OID" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="QCTypes" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="oid" type="OID" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
								
					<xs:element name="TrustedServiceProviders" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TrustedServiceProvider" type="TrustedServiceProvider" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="Revocations" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CertificateRevocation" type="CertificateRevocation" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:choice>
						<xs:element name="Base64Encoded" type="xs:base64Binary" />
						<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="OID">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Description" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="CertificatePolicy">
		<xs:complexContent>
			<xs:extension base="OID">
				<xs:attribute name="cpsUrl" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DistinguishedName">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Format" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="SignatureScope">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required" />
				<xs:attribute name="scope" type="ScopeType" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="ScopeType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FULL" />
			<xs:enumeration value="PARTIAL" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="StructuralValidation">
		<xs:sequence>
			<xs:element name="Valid" type="xs:boolean" minOccurs="0" />
			<xs:element name="Message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BasicSignature">
		<xs:sequence>
			<xs:element name="EncryptionAlgoUsedToSignThisToken" type="xs:string" minOccurs="0" />
			<xs:element name="KeyLengthUsedToSignThisToken" type="xs:string" minOccurs="0" />
			<xs:element name="DigestAlgoUsedToSignThisToken" type="xs:string" minOccurs="0"  />
			<xs:element name="MaskGenerationFunctionUsedToSignThisToken" type="xs:string" minOccurs="0"  />
			<xs:element name="SignatureIntact" type="xs:boolean" />
			<xs:element name="SignatureValid" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SigningCertificate">
		<xs:sequence>
			<xs:element name="AttributePresent" type="xs:boolean" minOccurs="0" />
			<xs:element name="DigestValuePresent" type="xs:boolean" minOccurs="0" />
			<xs:element name="DigestValueMatch" type="xs:boolean" minOccurs="0" />
			<xs:element name="IssuerSerialMatch" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Certificate" type="xs:IDREF" use="required" />
	</xs:complexType>
	
	<xs:complexType name="TimestampedObjects">
		<xs:sequence>
			<xs:element ref="TimestampedObject" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="TimestampedObject" type="TimestampedObject" />
	<xs:element name="TimestampedCertificate" type="TimestampedCertificate" substitutionGroup="TimestampedObject" />
	<xs:element name="TimestampedRevocationData" type="TimestampedRevocationData" substitutionGroup="TimestampedObject" />
	<xs:element name="TimestampedTimestamp" type="TimestampedTimestamp" substitutionGroup="TimestampedObject" />
	<xs:element name="TimestampedSignature" type="TimestampedSignature" substitutionGroup="TimestampedObject" />
	
	<xs:complexType name="TimestampedObject" abstract="true">
		<xs:sequence/>
		<xs:attribute name="Token" type="xs:IDREF" use="required" />
	</xs:complexType>
	
	<xs:element name="AbstractTokenRef" type="xs:IDREF" />
    
	<xs:complexType name="TimestampedCertificate">
        <xs:complexContent>
            <xs:restriction base="TimestampedObject">
				<xs:attribute name="Token" type="xs:IDREF" use="required" />
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
	<xs:complexType name="TimestampedRevocationData">
        <xs:complexContent>
            <xs:restriction base="TimestampedObject">
				<xs:attribute name="Token" type="xs:IDREF" use="required" />
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:complexType name="TimestampedTimestamp">
        <xs:complexContent>
            <xs:restriction base="TimestampedObject">
				<xs:attribute name="Token" type="xs:IDREF" use="required" />
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
	<xs:complexType name="TimestampedSignature">
        <xs:complexContent>
            <xs:restriction base="TimestampedObject">
				<xs:attribute name="Token" type="xs:IDREF" use="required" />
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
	<xs:complexType name="CertificateChain">
		<xs:sequence>
			<xs:element name="ChainItem" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="Certificate" type="xs:IDREF" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CertifiedRole">
		<xs:sequence>
			<xs:element name="CertifiedRole" type="xs:string" />
			<xs:element name="NotAfter" type="xs:dateTime" />
			<xs:element name="NotBefore" type="xs:dateTime" />
		</xs:sequence>
		<xs:attribute name="Category" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:complexType name="DigestAlgoAndValue">
		<xs:sequence>
			<xs:element name="DigestMethod" type="xs:string" minOccurs="0" /> <!-- Optional in case the digest cannot be retrieved -->
			<xs:element name="DigestValue" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DigestMatcher">
		<xs:complexContent>
			<xs:extension base="DigestAlgoAndValue">
				<xs:sequence>
					<xs:element name="DataFound" type="xs:boolean" />
					<xs:element name="DataIntact" type="xs:boolean" />
				</xs:sequence>
				<xs:attribute name="type" type="DigestMatcherType" use="required" />
				<xs:attribute name="name" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="DigestMatcherType" final="restriction">
		<xs:restriction base="xs:string">
			<!-- XAdES -->
			<xs:enumeration value="REFERENCE" />
			<xs:enumeration value="OBJECT" />
			<xs:enumeration value="KEY_INFO" />
			<xs:enumeration value="MANIFEST" />
			<xs:enumeration value="MANIFEST_ENTRY" />
			<xs:enumeration value="SIGNED_PROPERTIES" />
			
			<!-- CAdES -->
			<xs:enumeration value="MESSAGE_DIGEST" />
			
			<!-- TIMESTAMP -->
			<xs:enumeration value="MESSAGE_IMPRINT" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="FoundCertificate">
		<xs:sequence>
			<xs:element name="CertificateRef" type="CertificateRef" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Certificate" type="xs:IDREF" use="required" />
		<xs:attribute name="Location" type="CertificateLocationType" use="required" />
	</xs:complexType>
	
	<xs:complexType name="CertificateRef">
		<xs:sequence>
			<xs:element name="IssuerSerial" type="xs:base64Binary" />
			<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="CertificateSourceType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUSTED_STORE" />
			<xs:enumeration value="TRUSTED_LIST" />
			<xs:enumeration value="SIGNATURE" />
			<xs:enumeration value="OCSP_RESPONSE" />
			<xs:enumeration value="OTHER" />
			<xs:enumeration value="AIA" />
			<xs:enumeration value="TIMESTAMP" />
			<xs:enumeration value="UNKNOWN" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CertificateLocationType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KEY_INFO" />
			<xs:enumeration value="SIGNING_CERTIFICATE" />
			<xs:enumeration value="COMPLETE_CERTIFICATE_REFS" />
			<xs:enumeration value="ATTRIBUTE_CERTIFICATE_REFS" />
			<xs:enumeration value="CERTIFICATE_VALUES" />
			<xs:enumeration value="ATTR_AUTORITIES_CERT_VALUES" />
			<xs:enumeration value="TIMESTAMP_DATA_VALIDATION" />
			<xs:enumeration value="DSS" />
			<xs:enumeration value="VRI" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="FoundTimestamp">
		<xs:attribute name="Timestamp" type="xs:IDREF" use="required" />
		<xs:attribute name="Location" type="TimestampLocation" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="Timestamp">
		<xs:complexContent>
            <xs:extension base="AbstractToken">
				<xs:sequence>
					<xs:element name="ProductionTime" type="xs:dateTime" />
					<xs:element name="DigestMatcher" type="DigestMatcher" />
					<xs:element name="BasicSignature" type="BasicSignature" />
					<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
					<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />
		
					<xs:element name="TimestampedObjects" type="TimestampedObjects" minOccurs="0" />
		
					<xs:choice>
						<xs:element name="Base64Encoded" type="xs:base64Binary" />
						<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="Type" type="TimestampType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="TimestampType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONTENT_TIMESTAMP" />
			<xs:enumeration value="ALL_DATA_OBJECTS_TIMESTAMP" />
			<xs:enumeration value="INDIVIDUAL_DATA_OBJECTS_TIMESTAMP" />
			<xs:enumeration value="SIGNATURE_TIMESTAMP" />
			<xs:enumeration value="VALIDATION_DATA_REFSONLY_TIMESTAMP" />
			<xs:enumeration value="VALIDATION_DATA_TIMESTAMP" />
			<xs:enumeration value="ARCHIVE_TIMESTAMP" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TimestampLocation" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="XAdES" />
			<xs:enumeration value="CAdES" />
			<xs:enumeration value="DOC_TIMESTAMP" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CertificateRevocation">
		<xs:sequence>
			<xs:element name="Status" type="xs:boolean" />
			<xs:element name="Reason" type="RevocationReason" minOccurs="0" />
			<xs:element name="RevocationDate" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Revocation" type="xs:IDREF" use="required" />
	</xs:complexType>
	
	<xs:simpleType name="RevocationReason" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unspecified" />
			<xs:enumeration value="keyCompromise" />
			<xs:enumeration value="cACompromise" />
			<xs:enumeration value="affiliationChanged" />
			<xs:enumeration value="superseded" />
			<xs:enumeration value="cessationOfOperation" />
			<xs:enumeration value="certificateHold" />
			<xs:enumeration value="unknow" />
			<xs:enumeration value="removeFromCRL" />
			<xs:enumeration value="privilegeWithdrawn" />
			<xs:enumeration value="aACompromise" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="Revocation">
		<xs:complexContent>
            <xs:extension base="AbstractToken">
				<xs:sequence>
					<xs:element name="Origin" type="RevocationOriginType" />
					<xs:element name="Type" type="RevocationType" />
					<xs:element name="SourceAddress" type="xs:string" minOccurs="0" />
					<xs:element name="ProductionDate" type="xs:dateTime" minOccurs="0" /> <!-- Can be null in case of no SUCCESSFUL response of OCSP -->
					<xs:element name="ThisUpdate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="NextUpdate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="ExpiredCertsOnCRL" type="xs:dateTime" minOccurs="0" /> <!-- CRL -->
					<xs:element name="ArchiveCutOff" type="xs:dateTime" minOccurs="0" /> <!-- OCSP -->
					<xs:element name="CertHashExtensionPresent" type="xs:boolean" minOccurs="0" /> <!-- OCSP -->
					<xs:element name="CertHashExtensionMatch" type="xs:boolean" minOccurs="0" /> <!-- OCSP -->
					<xs:element name="DigestAlgoAndValues" type="DigestAlgoAndValues" minOccurs="0" />
					<xs:element name="BasicSignature" type="BasicSignature" minOccurs="0" /> <!-- Can be null in case of no SUCCESSFUL response of OCSP -->
					<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
					<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />
					<xs:choice>
						<xs:element name="Base64Encoded" type="xs:base64Binary" />
						<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RelatedRevocation">
		<xs:sequence>
			<xs:element name="Revocation" type="xs:IDREF" />
			<xs:element name="Type" type="RevocationType" />
			<xs:element name="Origin" type="RevocationOriginType" />
			<xs:element name="RevocationReferences" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RevocationRef" type="RevocationRef" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RevocationRef">
		<xs:sequence>
			<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" />
			<xs:element name="ProducedAt" type="xs:dateTime" minOccurs="0" /> <!-- OCSP -->
			<xs:choice minOccurs="0"> <!-- OCSP -->
				<xs:element name="ResponderIdName" type="xs:string" /> <!-- OCSP -->
				<xs:element name="ResponderIdKey" type="xs:base64Binary" /> <!-- OCSP -->
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="Type" type="RevocationType" /> <!--  optional, used in case of unused revocation reference -->
		<xs:attribute name="Location" type="RevocationRefLocationType" use="required" />
	</xs:complexType>
	
	<xs:simpleType name="RevocationType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRL" />
			<xs:enumeration value="OCSP" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="RevocationOriginType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INTERNAL_REVOCATION_VALUES" />
			<xs:enumeration value="INTERNAL_ATTRIBUTE_REVOCATION_VALUES" />
			<xs:enumeration value="INTERNAL_TIMESTAMP_REVOCATION_VALUES" />
			<xs:enumeration value="INTERNAL_DSS" />
			<xs:enumeration value="INTERNAL_VRI" />
			<xs:enumeration value="SIGNATURE" />
			<xs:enumeration value="EXTERNAL" />
			<xs:enumeration value="CACHED" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="RevocationRefLocationType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMPLETE_REVOCATION_REFS" />
			<xs:enumeration value="ATTRIBUTE_REVOCATION_REFS" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="TrustedList">
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:string" />
			<xs:element name="Url" type="xs:string" />	
			<xs:element name="SequenceNumber" type="xs:int" minOccurs="0" />
			<xs:element name="Version" type="xs:int" minOccurs="0" />
			<xs:element name="LastLoading" type="xs:dateTime" minOccurs="0" />
			<xs:element name="IssueDate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="NextUpdate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="WellSigned" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrustedServiceProvider">
		<xs:sequence>
			<xs:element name="TSPName" type="xs:string" />
			<xs:element name="TSPRegistrationIdentifier" type="xs:string" minOccurs="0" />
			<xs:element name="CountryCode" type="xs:string" />
			
			<xs:element name="TrustedServices">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrustedService" type="TrustedService" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrustedService">
		<xs:sequence>
			<xs:element name="ServiceDigitalIdentifier" type="xs:IDREF" />
			<xs:element name="ServiceName" type="xs:string" />
			<xs:element name="ServiceType" type="xs:string" />
			<xs:element name="Status" type="xs:string" />
			<xs:element name="StartDate" type="xs:dateTime" />
			<xs:element name="EndDate" type="xs:dateTime" minOccurs="0" />
			
			<xs:element name="CapturedQualifiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Qualifier" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="AdditionalServiceInfoUris" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="ServiceSupplyPoints" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="expiredCertsRevocationInfo" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DigestAlgoAndValues">
        <xs:sequence>
            <xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
</xs:schema>