dss-diagnostic-jaxb/src/main/resources/xsd/DiagnosticData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" targetNamespace="http://dss.esig.europa.eu/validation/diagnostic"
	xmlns="http://dss.esig.europa.eu/validation/diagnostic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="DiagnosticData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentName" type="xs:string" />
				<xs:element name="ValidationDate" type="xs:dateTime" />
				<xs:element name="ContainerInfo" type="ContainerInfo" minOccurs="0" />
				<xs:element name="Signatures" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Signature" type="Signature" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UsedCertificates" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Certificate" type="Certificate" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="TrustedLists" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TrustedList" type="TrustedList" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListOfTrustedLists" type="TrustedList" minOccurs="0" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ContainerInfo">
		<xs:sequence>
			<xs:element name="ContainerType" type="xs:string" minOccurs="0" />
			<xs:element name="ZipComment" type="xs:string" minOccurs="0" />
			<xs:element name="MimeTypeFilePresent" type="xs:boolean" minOccurs="0" />
			<xs:element name="MimeTypeContent" type="xs:string" minOccurs="0" />
			
			<xs:element name="ManifestFiles" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ManifestFile" type="ManifestFile" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="ContentFiles" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContentFile" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ManifestFile">
		<xs:sequence>
			<xs:element name="Filename" type="xs:string" minOccurs="0" />
			<xs:element name="SignatureFilename" type="xs:string" minOccurs="0" />
			<xs:element name="Entries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Entry" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Signature">
		<xs:sequence>
			<xs:element name="SignatureFilename" type="xs:string" />
			<xs:element name="ParentId" type="xs:string" minOccurs="0" />
			<xs:element name="ErrorMessage" type="xs:string" minOccurs="0" />
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0" />
			<xs:element name="SignatureFormat" type="xs:string" />

			<xs:element name="StructuralValidation"	type="StructuralValidation" minOccurs="0" />
			<xs:element name="BasicSignature" type="BasicSignature" />
			<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
			<xs:element name="CertificateChain"	type="CertificateChain" minOccurs="0" />

			<xs:element name="ContentType" type="xs:string" minOccurs="0" />
			<xs:element name="ContentIdentifier" type="xs:string" minOccurs="0" />
			<xs:element name="ContentHints" type="xs:string" minOccurs="0" />
			<xs:element name="SignatureProductionPlace" type="SignatureProductionPlace" minOccurs="0" />
			<xs:element name="CommitmentTypeIndication" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Indication" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClaimedRoles" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClaimedRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CertifiedRoles" type="CertifiedRole" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Policy" type="Policy" minOccurs="0" />
			
			<xs:element name="Timestamps" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Timestamp" type="Timestamp" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="SignatureScopes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SignatureScope" type="SignatureScope" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
		<xs:attribute name="Type" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="SignatureProductionPlace">
		<xs:sequence>
			<xs:element name="Address" type="xs:string" minOccurs="0" />
			<xs:element name="City" type="xs:string" minOccurs="0" />
			<xs:element name="StateOrProvince" type="xs:string" minOccurs="0" />
			<xs:element name="PostalCode" type="xs:string" minOccurs="0" />
			<xs:element name="CountryName" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Policy">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" />
			<xs:element name="Url" type="xs:string" minOccurs="0" />
			<xs:element name="Notice" type="xs:string" minOccurs="0" />
			<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" />
			<xs:element name="Asn1Processable" type="xs:boolean" minOccurs="0" />
			<xs:element name="Identified" type="xs:boolean" minOccurs="0" />
			<xs:element name="Status" type="xs:boolean" minOccurs="0" />
			<xs:element name="ProcessingError" type="xs:string" minOccurs="0" />
			<xs:element name="DigestAlgorithmsEqual" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Certificate">
		<xs:sequence>
			<xs:element name="SubjectDistinguishedName" type="DistinguishedName" maxOccurs="unbounded" />
			<xs:element name="IssuerDistinguishedName" type="DistinguishedName" maxOccurs="unbounded" />
			<xs:element name="SerialNumber" type="xs:integer" />
			<xs:element name="CommonName" type="xs:string" minOccurs="0"/>
			<xs:element name="CountryName" type="xs:string" minOccurs="0"/>
			<xs:element name="OrganizationName" type="xs:string" minOccurs="0"/>
			<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
			<xs:element name="OrganizationalUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="Surname" type="xs:string" minOccurs="0"/>
			<xs:element name="Pseudonym" type="xs:string" minOccurs="0"/>
			
			<xs:element name="AuthorityInformationAccessUrls" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CRLDistributionPoints" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OCSPAccessUrls" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="DigestAlgoAndValues" type="DigestAlgoAndValues" minOccurs="0" />
			<xs:element name="NotAfter" type="xs:dateTime" />
			<xs:element name="NotBefore" type="xs:dateTime" />
			<xs:element name="PublicKeySize" type="xs:int" />
			<xs:element name="PublicKeyEncryptionAlgo" type="xs:string" />

			<xs:element name="KeyUsageBits" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KeyUsage" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="IdKpOCSPSigning" type="xs:boolean" minOccurs="0" />
			<xs:element name="IdPkixOcspNoCheck" type="xs:boolean" minOccurs="0" />

			<xs:element name="BasicSignature" type="BasicSignature" />
			<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
			<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />

			<xs:element name="Trusted" type="xs:boolean" />
			<xs:element name="SelfSigned" type="xs:boolean" />
			
			<xs:element name="CertificatePolicyIds" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="oid" type="OID" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QCStatementIds" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="oid" type="OID" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QCTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="oid" type="OID" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
						
			<xs:element name="TrustedServiceProviders">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrustedServiceProvider" type="TrustedServiceProvider" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="Revocations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Revocation" type="Revocation" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="Info" type="InfoType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:complexType name="OID">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Description" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="DistinguishedName">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Format" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="SignatureScope">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required" />
				<xs:attribute name="scope" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="StructuralValidation">
		<xs:sequence>
			<xs:element name="Valid" type="xs:boolean" minOccurs="0" />
			<xs:element name="Message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BasicSignature">
		<xs:sequence>
			<xs:element name="EncryptionAlgoUsedToSignThisToken" type="xs:string" minOccurs="0" />
			<xs:element name="KeyLengthUsedToSignThisToken" type="xs:string" minOccurs="0" />
			<xs:element name="DigestAlgoUsedToSignThisToken" type="xs:string" minOccurs="0"  />
			<xs:element name="ReferenceDataFound" type="xs:boolean" />
			<xs:element name="ReferenceDataIntact" type="xs:boolean" />
			<xs:element name="SignatureIntact" type="xs:boolean" />
			<xs:element name="SignatureValid" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SigningCertificate">
		<xs:sequence>
			<xs:element name="AttributePresent" type="xs:boolean" minOccurs="0" />
			<xs:element name="DigestValuePresent" type="xs:boolean" minOccurs="0" />
			<xs:element name="DigestValueMatch" type="xs:boolean" minOccurs="0" />
			<xs:element name="IssuerSerialMatch" type="xs:boolean" minOccurs="0" />
			<xs:element name="Signed" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:complexType name="InfoType">
		<xs:sequence>
			<xs:element name="Message" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Id" type="xs:int" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SignedObjects">
		<xs:sequence>
			<xs:element name="SignedSignature" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Id" type="xs:string" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TimestampedTimestamp" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Id" type="xs:string" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="DigestAlgoAndValues" type="DigestAlgoAndValues" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CertificateChain">
		<xs:sequence>
			<xs:element name="ChainItem" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Source" type="xs:string" />
					</xs:sequence>
					<xs:attribute name="Id" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CertifiedRole">
		<xs:sequence>
			<xs:element name="CertifiedRole" type="xs:string" />
			<xs:element name="NotAfter" type="xs:dateTime" />
			<xs:element name="NotBefore" type="xs:dateTime" />
		</xs:sequence>
		<xs:attribute name="Category" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:complexType name="DigestAlgoAndValue">
		<xs:sequence>
			<xs:element name="DigestMethod" type="xs:string" />
			<xs:element name="DigestValue" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="Category" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="Timestamp">
		<xs:sequence>
			<xs:element name="ProductionTime" type="xs:dateTime" />
			<xs:element name="SignedDataDigestAlgo" type="xs:string" />
			<xs:element name="EncodedSignedDataDigestValue" type="xs:string" />
			<xs:element name="MessageImprintDataFound" type="xs:boolean" />
			<xs:element name="MessageImprintDataIntact" type="xs:boolean" />
			<xs:element name="CanonicalizationMethod" type="xs:string" minOccurs="0" />

			<xs:element name="BasicSignature" type="BasicSignature" />
			<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
			<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />

			<xs:element name="SignedObjects" type="SignedObjects" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
		<xs:attribute name="Type" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:complexType name="Revocation">
		<xs:sequence>
			<xs:element name="Origin" type="xs:string" />
			<xs:element name="Source" type="xs:string" />
			<xs:element name="SourceAddress" type="xs:string" minOccurs="0" />
			<xs:element name="Available" type="xs:boolean" minOccurs="0" />
			<xs:element name="Status" type="xs:boolean" />
			<xs:element name="Reason" type="xs:string" minOccurs="0" />
			<xs:element name="ProductionDate" type="xs:dateTime" minOccurs="0" /> <!-- Can be null in case of no SUCCESSFUL response of OCSP -->
			<xs:element name="ThisUpdate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="NextUpdate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="RevocationDate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="ExpiredCertsOnCRL" type="xs:dateTime" minOccurs="0" /> <!-- CRL -->
			<xs:element name="ArchiveCutOff" type="xs:dateTime" minOccurs="0" /> <!-- OCSP -->

			<xs:element name="DigestAlgoAndValues" type="DigestAlgoAndValues" minOccurs="0" />
			
			<xs:element name="BasicSignature" type="BasicSignature" minOccurs="0" /> <!-- Can be null in case of no SUCCESSFUL response of OCSP -->
			<xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
			<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />

			<xs:element name="Info" type="InfoType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:complexType name="TrustedList">
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:string" />
			<xs:element name="Url" type="xs:string" />	
			<xs:element name="SequenceNumber" type="xs:int" minOccurs="0" />
			<xs:element name="Version" type="xs:int" minOccurs="0" />
			<xs:element name="LastLoading" type="xs:dateTime" minOccurs="0" />
			<xs:element name="IssueDate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="NextUpdate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="WellSigned" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrustedServiceProvider">
		<xs:sequence>
			<xs:element name="TSPName" type="xs:string" />
			<xs:element name="TSPServiceName" type="xs:string" />
			<xs:element name="CountryCode" type="xs:string" />
			
			<xs:element name="TrustedServices">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrustedService" type="TrustedService" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrustedService">
		<xs:sequence>
			<xs:element name="ServiceType" type="xs:string" />
			<xs:element name="Status" type="xs:string" />
			<xs:element name="StartDate" type="xs:dateTime" />
			<xs:element name="EndDate" type="xs:dateTime" minOccurs="0" />
			
			<xs:element name="CapturedQualifiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Qualifier" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="AdditionalServiceInfoUris" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="expiredCertsRevocationInfo" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DigestAlgoAndValues">
		<xs:sequence>
			<xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>