specs-lote-xml/src/main/resources/xsd/1960201_xsd_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--                  ****** NOTICE ******
This document is part of ETSI TS 119 602. In the event that any
part of this document is in conflict with the text of TS 119 602 
then that text shall prevail as the authoritative source
-->
<xsd:schema targetNamespace="http://uri.etsi.org/019602/v1#" xmlns:lote="http://uri.etsi.org/019602/v1#" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Imports -->
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2008/REC-xmldsig-core-20080610/xmldsig-core-schema.xsd"/>
	<!-- -->
	<!-- Begin auxiliary types -->
	<!-- -->
	<!--InternationalNamesType-->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.1.4 Language support</xsd:documentation></xsd:annotation>	   	   
	<xsd:complexType name="InternationalNamesType">
		<xsd:sequence>
			<xsd:element name="Name" type="lote:MultiLangNormStringType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MultiLangNormStringType">
		<xsd:simpleContent>
			<xsd:extension base="lote:NonEmptyNormalizedString">
				<xsd:attribute ref="xml:lang" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.1.4 Language support</xsd:documentation></xsd:annotation>	   	   
	<xsd:complexType name="MultiLangStringType">
		<xsd:simpleContent>
			<xsd:extension base="lote:NonEmptyString">
				<xsd:attribute ref="xml:lang" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="NonEmptyString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonEmptyNormalizedString">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- AddressType -->
	<!-- -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.5 Scheme operator address</xsd:documentation></xsd:annotation>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<!--Specified in TS 119 602 v1.1.1 clause 6.3.5.1 Scheme operator postal address-->
			<xsd:element ref="lote:PostalAddresses"/>
		  	<!--Specified in TS 119 602 v1.1.1 clause 6.3.5.2 Scheme operator electronic address-->
			<xsd:element ref="lote:ElectronicAddress"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--PostalAddressList Type-->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.5.1 Scheme operator postal address</xsd:documentation></xsd:annotation>
	<xsd:element name="PostalAddresses" type="lote:PostalAddressListType"/>
	<xsd:complexType name="PostalAddressListType">
		<xsd:sequence>
			<xsd:element ref="lote:PostalAddress" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--PostalAddress Type-->
	<xsd:element name="PostalAddress" type="lote:PostalAddressType"/>
	<xsd:complexType name="PostalAddressType">
		<xsd:sequence>
			<xsd:element name="StreetAddress" type="lote:NonEmptyString"/>
			<xsd:element name="Locality" type="lote:NonEmptyString"/>
			<xsd:element name="StateOrProvince" type="lote:NonEmptyString" minOccurs="0"/>
			<xsd:element name="PostalCode" type="lote:NonEmptyString" minOccurs="0"/>
			<xsd:element name="CountryName" type="lote:NonEmptyString"/>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang" use="required"/>
	</xsd:complexType>
	<!--ElectronicAddressType-->
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.5.2 Scheme operator electronic address</xsd:documentation></xsd:annotation>
	<xsd:element name="ElectronicAddress" type="lote:ElectronicAddressType"/>
	<xsd:complexType name="ElectronicAddressType">
		<xsd:sequence>
			<xsd:element name="URI" type="lote:NonEmptyMultiLangURIType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Types for extensions in LoTE -->
	<!-- -->
	<xsd:complexType name="AnyType" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:any processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.17 Scheme extensions</xsd:documentation></xsd:annotation>
	<xsd:element name="Extension" type="lote:ExtensionType"/>
	<xsd:complexType name="ExtensionType">
		<xsd:complexContent>
			<xsd:extension base="lote:AnyType">
				<xsd:attribute name="Critical" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ExtensionsListType">
		<xsd:sequence>
			<xsd:element ref="lote:Extension" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--NonEmptyURIType-->
	<xsd:simpleType name="NonEmptyURIType">
		<xsd:restriction base="xsd:anyURI">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- AttributedNonEmptyURIType--> 
    <xsd:complexType name="AttributedNonEmptyURIType"> 
        <xsd:simpleContent> 
            <xsd:extension base="lote:NonEmptyURIType"> 
                <xsd:attribute name="type" type="xsd:anyURI" use="optional"/> 
            </xsd:extension> 
        </xsd:simpleContent> 
    </xsd:complexType> 

	
	<!-- -->
	<!--NonEmptyURIType with language indication-->
	<!-- -->
   <xsd:annotation><xsd:documentation> Specified in TS 119 602 v1.1.1 clause 6.1.4 Language support</xsd:documentation></xsd:annotation>	   
	<xsd:complexType name="NonEmptyMultiLangURIType">
		<xsd:simpleContent>
			<xsd:extension base="lote:NonEmptyURIType">
				<xsd:attribute ref="xml:lang" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--List of NonEmptyURIType with language indication-->
	<xsd:complexType name="NonEmptyMultiLangURIListType">
		<xsd:sequence>
			<xsd:element name="URI" type="lote:NonEmptyMultiLangURIType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--List of NonEmptyURIType-->
	<xsd:complexType name="NonEmptyURIListType">
		<xsd:sequence>
			<xsd:element name="URI" type="lote:NonEmptyURIType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- End auxiliary types -->
	<!-- -->
	<!-- ROOT Element -->
	<xsd:element name="ListOfTrustedEntities" type="lote:ListOfTrustedEntitiesType"/>
	<!-- List of Trusted Entities Type Definition -->
	<xsd:complexType name="ListOfTrustedEntitiesType">
		<xsd:sequence>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3 List and Scheme information-->
			<xsd:element ref="lote:ListAndSchemeInformation"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.4 Trusted Entities List -->
			<xsd:element ref="lote:TrustedEntitiesList" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.8 Digital signature-->
			<xsd:element ref="ds:Signature" minOccurs="0"/>
		</xsd:sequence>
		<!--Specified in TS 119 602 v1.1.1 clause 6.2 List of Trusted Entities Tag-->
		<xsd:attribute name="LOTETag" type="xsd:anyURI" use="required"/>
		<xsd:attribute name="Id" type="xsd:ID" use="optional"/>
	</xsd:complexType>
	<!-- TrustedEntitiesListType-->
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.4 Trust Service Provider List</xsd:documentation></xsd:annotation>
	<xsd:element name="TrustedEntitiesList" type="lote:TrustedEntitiesListType"/>
	<xsd:complexType name="TrustedEntitiesListType">
		<xsd:sequence>
 		  <!--Specified in TS 119 602 v1.1.1 clause 6.4 Trust Service Provider List-->
			<xsd:element ref="lote:TrustedEntity" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- LoTE Scheme Information -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3 Scheme information</xsd:documentation></xsd:annotation>
	<xsd:element name="ListAndSchemeInformation" type="lote:LoTEListAndSchemeInformationType"/>
	<xsd:complexType name="LoTEListAndSchemeInformationType">
		<xsd:sequence>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.1 LoTE version identifier-->
			<xsd:element name="LoTEVersionIdentifier" type="xsd:integer"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.2 LoTE sequence number-->
			<xsd:element name="LoTESequenceNumber" type="xsd:positiveInteger"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.3 LoTE type-->
			<xsd:element ref="lote:LoTEType"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.4 Scheme operator name-->
			<xsd:element ref="lote:SchemeOperatorName"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.5 Scheme operator address-->
			<xsd:element name="SchemeOperatorAddress" type="lote:AddressType"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.6 Scheme name-->
			<xsd:element ref="lote:SchemeName"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.7 Scheme information URI-->
			<xsd:element ref="lote:SchemeInformationURI"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.8 Status determination approach-->
			<xsd:element name="StatusDeterminationApproach" type="lote:NonEmptyURIType"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.9 Scheme type/community/rules-->
			<xsd:element ref="lote:SchemeTypeCommunityRules" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.10 Scheme territory-->
			<xsd:element ref="lote:SchemeTerritory" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.11 LoTE policy/legal notice-->
			<xsd:element ref="lote:PolicyOrLegalNotice" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.12 Historical information period-->
			<xsd:element name="HistoricalInformationPeriod" type="xsd:nonNegativeInteger" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.13 Pointers to other LoTEs-->
			<xsd:element ref="lote:PointersToOtherLoTE" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.14 List issue date and time-->
			<xsd:element name="ListIssueDateTime" type="xsd:dateTime"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.15 Next update-->
			<xsd:element ref="lote:NextUpdate"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.16 Distribution points-->
			<xsd:element ref="lote:DistributionPoints" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.17 Scheme extensions-->
			<xsd:element name="SchemeExtensions" type="lote:ExtensionsListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.3 LoTE type</xsd:documentation></xsd:annotation>
	<xsd:element name="LoTEType" type="lote:NonEmptyURIType"/>
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.4 Scheme operator name</xsd:documentation></xsd:annotation>
	<xsd:element name="SchemeOperatorName" type="lote:InternationalNamesType"/>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.6 Scheme name</xsd:documentation></xsd:annotation>
	<xsd:element name="SchemeName" type="lote:InternationalNamesType"/>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.7 Scheme information URI</xsd:documentation></xsd:annotation>
	<xsd:element name="SchemeInformationURI" type="lote:NonEmptyMultiLangURIListType"/>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.9 Scheme type/community/rules</xsd:documentation></xsd:annotation>
	<xsd:element name="SchemeTypeCommunityRules" type="lote:NonEmptyMultiLangURIListType"/>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.10 Scheme territory</xsd:documentation></xsd:annotation>
	<xsd:element name="SchemeTerritory" type="xsd:string"/>	
	<!-- Policy or Legal Notice -->
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.11 LoTE policy/legal notice</xsd:documentation></xsd:annotation>
	<xsd:element name="PolicyOrLegalNotice" type="lote:PolicyOrLegalnoticeType"/>
	<xsd:complexType name="PolicyOrLegalnoticeType">
		<xsd:choice>
			<xsd:element name="LoTEPolicy" type="lote:NonEmptyMultiLangURIType" maxOccurs="unbounded"/>
			<xsd:element name="LoTELegalNotice" type="lote:MultiLangStringType" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.15 Next update</xsd:documentation></xsd:annotation>
	<xsd:element name="NextUpdate" type="lote:NextUpdateType"/>
	<xsd:complexType name="NextUpdateType">
		<xsd:sequence>
			<xsd:element name="dateTime" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--OtherLoTEPointersType-->
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.13 Pointers to other LoTEs</xsd:documentation></xsd:annotation>
	<xsd:element name="PointersToOtherLoTE" type="lote:OtherLoTEPointersType"/>
	<xsd:complexType name="OtherLoTEPointersType">
		<xsd:sequence>
			<xsd:element ref="lote:OtherLoTEPointer" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="OtherLoTEPointer" type="lote:OtherLoTEPointerType"/>
	<xsd:complexType name="OtherLoTEPointerType">
		<xsd:sequence>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.13 Pointers to other LoTEs item b) from Format-->
			<xsd:element ref="lote:ServiceDigitalIdentities" minOccurs="0"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.13 Pointers to other LoTEs item a) from Format-->
			<xsd:element name="LoTELocation" type="lote:NonEmptyURIType"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.3.13 Pointers to other LoTEs item c) from Format-->
			<xsd:element ref="lote:AdditionalInformation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.13 Pointers to other LoTEs item b) from Format</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceDigitalIdentities" type="lote:ServiceDigitalIdentityListType"/>
	<xsd:complexType name="ServiceDigitalIdentityListType">
		<xsd:sequence>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.6.3 Service digital identity-->
			<xsd:element ref="lote:ServiceDigitalIdentity" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.13 Pointers to other LoTEs item c) from Format</xsd:documentation></xsd:annotation>
	<xsd:element name="AdditionalInformation" type="lote:AdditionalInformationType"/>
	<xsd:complexType name="AdditionalInformationType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="TextualInformation" type="lote:MultiLangStringType"/>
			<xsd:element name="OtherInformation" type="lote:AnyType"/>
		</xsd:choice>
	</xsd:complexType>
	<!--DistributionPoints element-->
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.16 Distribution points</xsd:documentation></xsd:annotation>
	<xsd:element name="DistributionPoints" type="lote:NonEmptyURIListType"/>
	<!-- TEType -->
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.3.18 Trust Service Provider List</xsd:documentation></xsd:annotation>
	<xsd:element name="TrustedEntity" type="lote:TEType"/>
	<xsd:complexType name="TEType">
		<xsd:sequence>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.5 TrustedEntity information-->
			<xsd:element ref="lote:TrustedEntityInformation"/>
		   <!--Specified in TS 119 602 v1.1.1 clause 6.4.2 TE Services (list of services)-->
			<xsd:element ref="lote:TrustedEntityServices"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- TEInformationType -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.5 TE information</xsd:documentation></xsd:annotation>
	<xsd:element name="TrustedEntityInformation" type="lote:TrustedEntityInformationType"/>
	<xsd:complexType name="TrustedEntityInformationType">
		<xsd:sequence>
			<!--Specified in TS 119 602 v1.1.1 clause 6.5.1 TE name-->
			<xsd:element name="TEName" type="lote:InternationalNamesType"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.5.2 TE trade name-->
			<xsd:element name="TETradeName" type="lote:InternationalNamesType" minOccurs="0"/>
				<!--Specified in TS 119 602 v1.1.1 clause 6.5.3 TE address.
			   	postal address and electronic addresses have the formats specified in 6.3.5.1 and 6.3.5.2 respectively.
			   	Their semantics are specified in 6.4.3.1 and 6.4.3.2 respectively
			   -->
			<xsd:element name="TEAddress" type="lote:AddressType"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.5.4 TE information URI-->
			<xsd:element name="TEInformationURI" type="lote:NonEmptyMultiLangURIListType"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.5.5 TE information extensions-->
			<xsd:element name="TEInformationExtensions" type="lote:ExtensionsListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- TE Services-->
   <xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.4.2 TE Services (list of services)</xsd:documentation></xsd:annotation>
	<xsd:element name="TrustedEntityServices" type="lote:TrustedEntityServicesListType"/>
	<xsd:complexType name="TrustedEntityServicesListType">
		<xsd:sequence>
			<xsd:element ref="lote:TrustedEntityService" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TrustedEntityService" type="lote:TrustedEntityServiceType"/>
	<xsd:complexType name="TrustedEntityServiceType">
		<xsd:sequence>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6 Service information-->
			<xsd:element ref="lote:ServiceInformation"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.4.4 Service history-->
			<xsd:element ref="lote:ServiceHistory" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- TEServiceInformationType -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.6 Service information</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceInformation" type="lote:TEServiceInformationType"/>
	<xsd:complexType name="TEServiceInformationType">
		<xsd:sequence>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.1 Service type identifier-->
			<xsd:element ref="lote:ServiceTypeIdentifier" minOccurs="0"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.2 Service name-->
			<xsd:element name="ServiceName" type="lote:InternationalNamesType"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.3 Service digital identity-->
			<xsd:element ref="lote:ServiceDigitalIdentity"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.4 Service current status-->
			<xsd:element ref="lote:ServiceStatus" minOccurs="0"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.5 Service status starting date and time-->
			<xsd:element name="StatusStartingTime" type="xsd:dateTime" minOccurs="0"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.6 Scheme service definition URI-->
			<xsd:element name="SchemeServiceDefinitionURI" type="lote:NonEmptyMultiLangURIListType" minOccurs="0"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.7 Service supply points-->
			<xsd:element ref="lote:ServiceSupplyPoints" minOccurs="0"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.8 TE service definition URI-->
			<xsd:element name="TEServiceDefinitionURI" type="lote:NonEmptyMultiLangURIListType" minOccurs="0"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.9 Service information extensions-->
			<xsd:element name="ServiceInformationExtensions" type="lote:ExtensionsListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Service status -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.6.4 Service current status</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceStatus" type="lote:NonEmptyURIType"/>
	<!-- Type for Service Supply Points -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.6.7 Service supply points</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceSupplyPoints" type="lote:ServiceSupplyPointsType"/>
	<xsd:complexType name="ServiceSupplyPointsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="ServiceSupplyPoint" type="lote:AttributedNonEmptyURIType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- TEServiceIdentifier -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.6.1 Service type identifier</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceTypeIdentifier" type="lote:NonEmptyURIType"/>
	<!-- DigitalIdentityType  -->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.6.3 Service digital identity</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceDigitalIdentity" type="lote:DigitalIdentityListType"/>
	<xsd:complexType name="DigitalIdentityListType">
		<xsd:sequence>
			<xsd:element name="DigitalId" type="lote:DigitalIdentityType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DigitalIdentityType">
		<xsd:choice>
			<xsd:element name="X509Certificate" type="xsd:base64Binary"/>
			<xsd:element name="X509SubjectName" type="xsd:string"/>
			<xsd:element ref="ds:KeyValue"/>
			<xsd:element name="X509SKI" type="xsd:base64Binary"/>
			<xsd:element name="OtherId" type="lote:AnyType" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<!-- ServiceHistory element-->
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.4.4 Service history</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceHistory" type="lote:ServiceHistoryType"/>
	<xsd:complexType name="ServiceHistoryType">
		<xsd:sequence>
			<!--Specified in TS 119 602 v1.1.1 clause 6.7 Service history instance-->
			<xsd:element ref="lote:ServiceHistoryInstance" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation><xsd:documentation>Specified in TS 119 602 v1.1.1 clause 6.7 Service history instance</xsd:documentation></xsd:annotation>
	<xsd:element name="ServiceHistoryInstance" type="lote:ServiceHistoryInstanceType"/>
	<xsd:complexType name="ServiceHistoryInstanceType">
		<xsd:sequence>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.1 Service type identifier-->
			<xsd:element ref="lote:ServiceTypeIdentifier" minOccurs="0"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.2 Service name-->
			<xsd:element name="ServiceName" type="lote:InternationalNamesType"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.3 Service digital identity-->
			<xsd:element ref="lote:ServiceDigitalIdentity"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.4 Service previous status-->
			<xsd:element ref="lote:ServiceStatus"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.5 Previous status starting date and time-->
			<xsd:element name="StatusStartingTime" type="xsd:dateTime"/>
			<!--Specified in TS 119 602 v1.1.1 clause 6.6.9 Service information extensions-->
			<xsd:element name="ServiceInformationExtensions" type="lote:ExtensionsListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
