dss-simple-certificate-report-jaxb/src/main/resources/xsd/SimpleCertificateReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" 
	targetNamespace="http://dss.esig.europa.eu/validation/simple-certificate-report"
	xmlns="http://dss.esig.europa.eu/validation/simple-certificate-report" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="SimpleCertificateReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="chain" type="ChainItem" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ChainItem">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="subject" type="xs:string" />
			<xs:element name="issuerId" type="xs:string" />
			<xs:element name="notBefore" type="xs:dateTime" />
			<xs:element name="notAfter" type="xs:dateTime" />			
			<xs:element name="ocspUrl" type="xs:string" minOccurs="0" />
			<xs:element name="crlUrl" type="xs:string" minOccurs="0" />
			<xs:element name="aiaUrl" type="xs:string" minOccurs="0" />
			<xs:element name="cpsUrl" type="xs:string" minOccurs="0" />
			<xs:element name="pdsUrl" type="xs:string" minOccurs="0" />
			<xs:element name="qualificationAtIssuance" type="CertificateQualification" />
			<xs:element name="qualificationAtValidation" type="CertificateQualification" />
			<xs:element name="revocation" type="Revocation" minOccurs="0" />
			<xs:element name="trustAnchor" type="TrustAnchor" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="trusted" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="Revocation">
		<xs:sequence>
			<xs:element name="revocationDate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="revocationReason" type="xs:dateTime" minOccurs="0" />		
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TrustAnchor">
		<xs:sequence>
			<xs:element name="countryCode" type="xs:string" />
			<xs:element name="trustedListUrl" type="xs:string" />
			<xs:element name="trustServiceProvider" type="xs:string" />
			<xs:element name="trustServiceProviderRegistrationId" type="xs:string" />
			<xs:element name="trustServiceName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="CertificateQualification" final="restriction">
		<xs:restriction base="xs:string">
		
			<xs:enumeration value="QC Cert for ESig with QSCD" />
			<xs:enumeration value="QC Cert for ESeal with QSCD" />
			<!-- non sense <xs:enumeration value="QC Cert for WSA with QSCD" /> -->
			
			<xs:enumeration value="QC Cert for ESig" />
			<xs:enumeration value="QC Cert for ESeal" />
			<xs:enumeration value="QC Cert for WSA" />
			
			<xs:enumeration value="Cert for ESig" />
			<xs:enumeration value="Cert for ESeal" />
			<xs:enumeration value="Cert for WSA" />
			
			<xs:enumeration value="N/A" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>