dss-detailed-report-jaxb/src/main/resources/xsd/DetailedReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dss.esig.europa.eu/validation/detailed-report" 
	xmlns="http://dss.esig.europa.eu/validation/detailed-report" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Root element -->
	<xs:element name="DetailedReport" type="DetailedReport" />

	<xs:complexType name="DetailedReport">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Signatures" type="Signature" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="Certificate" type="Certificate" minOccurs="0" maxOccurs="1" />
			</xs:choice>
			<xs:element type="BasicBuildingBlocks" name="BasicBuildingBlocks" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="TLAnalysis" type="TLAnalysis" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Signature">
		<xs:sequence>
			<xs:element name="ValidationProcessBasicSignatures" type="ValidationProcessBasicSignatures" minOccurs="0" />
			<xs:element name="ValidationProcessTimestamps" type="ValidationProcessTimestamps" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ValidationProcessLongTermData" type="ValidationProcessLongTermData" minOccurs="0" />
			<xs:element name="ValidationProcessArchivalData" type="ValidationProcessArchivalData" minOccurs="0" />
			<xs:element name="ValidationSignatureQualification" type="ValidationSignatureQualification" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="optional" /> <!-- Optional in case of timestamp only validation -->
		<xs:attribute name="CounterSignature" type="xs:boolean" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="Certificate">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
					<xs:element name="ValidationCertificateQualification" type="ValidationCertificateQualification" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BasicBuildingBlocks">
		<xs:sequence>
			<xs:element name="FC" type="FC" minOccurs="0" /> <!-- 5.2.2 Format Checking -->
			<xs:element name="ISC" type="ISC" minOccurs="0" /> <!-- 5.2.3 Identification of the signing certificate -->
			<xs:element name="VCI" type="VCI" minOccurs="0" /> <!-- 5.2.4 Validation context initialization -->
			<xs:element name="XCV" type="XCV" minOccurs="0" /> <!-- 5.2.6 X.509 certificate validation -->
			<xs:element name="CV"  type="CV"  minOccurs="0" /> <!-- 5.2.7 Cryptographic verification -->
			<xs:element name="SAV" type="SAV" minOccurs="0" /> <!-- 5.2.8 Signature acceptance validation (SAV) -->
			<xs:element name="PSV" type="PSV" minOccurs="0" />
			<xs:element name="PCV" type="PCV" minOccurs="0" />
			<xs:element name="VTS" type="VTS" minOccurs="0" />
			<xs:element name="CertificateChain" type="CertificateChain" minOccurs="0" />
			<xs:element name="Conclusion" type="Conclusion" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
		<xs:attribute name="Type" type="Context" use="required" />
	</xs:complexType>
	
	<xs:complexType name="TLAnalysis">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:attribute name="CountryCode" type="xs:string" use="optional" /> <!-- can be null in case of parsing task failure -->
				<xs:attribute name="URL" type="xs:string" use="required" />
				<xs:attribute name="Id" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ValidationSignatureQualification">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
					<xs:element name="ValidationCertificateQualification" type="ValidationCertificateQualification" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="Id" type="xs:string" use="required" />
				<xs:attribute name="SignatureQualification" type="SignatureQualification" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ValidationCertificateQualification">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:attribute name="Id" type="xs:string" use="required" />
        		<xs:attribute name="DateTime" type="xs:dateTime" />
        		<xs:attribute name="ValidationTime" type="ValidationTime" />
				<xs:attribute name="CertificateQualification" type="CertificateQualification" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ConstraintsConclusion">
		<xs:sequence>
			<xs:element name="Constraint" type="Constraint" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Conclusion" type="Conclusion" />
		</xs:sequence>
		<xs:attribute name="Title" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:complexType name="ConstraintsConclusionWithControlTime">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
	       			<xs:element name="ControlTime" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ConstraintsConclusionWithProofOfExistence">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
	       			<xs:element name="ProofOfExistence" type="ProofOfExistence" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ProofOfExistence">
		<xs:sequence>
			<xs:element name="Time" type="xs:dateTime" />
			<xs:element name="TimestampId" type="xs:string" minOccurs="0" /> <!-- No present means current/validation time -->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ValidationProcessBasicSignatures">	
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusionWithProofOfExistence" />
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ValidationProcessTimestamps">	
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:attribute name="Id" type="xs:string" use="required" />
				<xs:attribute name="Type" type="xs:string" use="required" />
				<xs:attribute name="ProductionTime" type="xs:dateTime" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ValidationProcessLongTermData">	
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusionWithProofOfExistence" />
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ValidationProcessArchivalData">	
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusionWithProofOfExistence" />
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FC">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ISC">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion" >
				<xs:sequence>
					<xs:element name="CertificateChain" type="CertificateChain" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VCI">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RFC">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:attribute name="Id" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RAC"> <!-- RevocationAcceptanceCheck -->
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
					<xs:element name="RevocationProductionDate" type="xs:dateTime" />
				</xs:sequence>
				<xs:attribute name="Id" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CV">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SAV">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
					<xs:element name="CryptographicInfo" type="CryptographicInformation" />
				</xs:sequence>
				<xs:attribute name="ValidationTime" type="xs:dateTime" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XCV">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
					<xs:element name="SubXCV" type="SubXCV" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubXCV">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusion">
				<xs:sequence>
					<xs:element name="RAC" type="RAC" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="RFC" type="RFC" minOccurs="0" />
					<xs:element name="RevocationInfo" type="RevocationInformation" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="Id" type="xs:string" use="required" />
				<xs:attribute name="TrustAnchor" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VTS">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusionWithControlTime" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PCV">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusionWithControlTime" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PSV">
		<xs:complexContent>
			<xs:extension base="ConstraintsConclusionWithControlTime" />
		</xs:complexContent>
	</xs:complexType>
<!-- 	Not supported -->
<!-- 	<xs:complexType name="ERV"> -->
<!-- 		<xs:complexContent> -->
<!-- 			<xs:extension base="ConstraintsConclusion" /> -->
<!-- 		</xs:complexContent> -->
<!-- 	</xs:complexType> -->
	
	<xs:complexType name="Constraint">
		<xs:sequence>
			<xs:element name="Name" type="Name" />
			<xs:element name="Status" type="Status" />
			<xs:element name="Error" type="Name" minOccurs="0" />
			<xs:element name="Warning" type="Name" minOccurs="0" />
			<xs:element name="Info" type="Name" minOccurs="0" />
			<xs:element name="AdditionalInfo" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="optional" /> <!-- In case of constraint with a BBB -->
	</xs:complexType>

	<xs:complexType name="Conclusion">
		<xs:sequence>
			<xs:element name="Indication" type="Indication" />
			<xs:element name="SubIndication" type="SubIndication" minOccurs="0" />
			<xs:element name="Errors" type="Name" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Warnings" type="Name" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Infos" type="Name" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Name">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="NameId" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="Status" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="NOT OK" />
			<xs:enumeration value="IGNORED" />
			<xs:enumeration value="INFORMATION" />
			<xs:enumeration value="WARNING" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Indication" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PASSED" />
			<xs:enumeration value="INDETERMINATE" />
			<xs:enumeration value="FAILED" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SubIndication" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_SIGNING_CERTIFICATE_FOUND" />
			<xs:enumeration value="FORMAT_FAILURE" />
			<xs:enumeration value="SIGNATURE_POLICY_NOT_AVAILABLE" />
			<xs:enumeration value="POLICY_PROCESSING_ERROR" />
			<xs:enumeration value="OUT_OF_BOUNDS_NO_POE" />
			<xs:enumeration value="NO_CERTIFICATE_CHAIN_FOUND" />
			<xs:enumeration value="TRY_LATER" />
			<xs:enumeration value="REVOKED_NO_POE" />
			<xs:enumeration value="REVOKED_CA_NO_POE" />
			<xs:enumeration value="CHAIN_CONSTRAINTS_FAILURE" />
			<xs:enumeration value="CRYPTO_CONSTRAINTS_FAILURE" />
			<xs:enumeration value="CRYPTO_CONSTRAINTS_FAILURE_NO_POE" />
			<xs:enumeration value="SIGNED_DATA_NOT_FOUND" />
			<xs:enumeration value="HASH_FAILURE" />
			<xs:enumeration value="SIG_CRYPTO_FAILURE" />
			<xs:enumeration value="SIG_CONSTRAINTS_FAILURE" />
			<xs:enumeration value="NOT_YET_VALID" />
			<xs:enumeration value="TIMESTAMP_ORDER_FAILURE" />
			<xs:enumeration value="REVOKED" />
			<xs:enumeration value="EXPIRED" />
			<xs:enumeration value="NO_POE" />
			<xs:enumeration value="CERTIFICATE_CHAIN_GENERAL_FAILURE" />
			<xs:enumeration value="UNEXPECTED_ERROR" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CertificateQualification" final="restriction">
		<xs:restriction base="xs:string">
		
			<xs:enumeration value="QC for eSig with QSCD" />
			<xs:enumeration value="QC for eSeal with QSCD" />
			<!-- non sense <xs:enumeration value="QC Cert for WSA with QSCD" /> -->
			
			<xs:enumeration value="QC for eSig" />
			<xs:enumeration value="QC for eSeal" />
			<xs:enumeration value="QC for WSA" />
			
			<xs:enumeration value="Cert for eSig" />
			<xs:enumeration value="Cert for eSeal" />
			<xs:enumeration value="Cert for WSA" />
			
			<xs:enumeration value="N/A" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SignatureQualification" final="restriction">
		<xs:restriction base="xs:string">
		
			<xs:enumeration value="QESig" />
			<xs:enumeration value="QESeal" />
			<xs:enumeration value="QES?" />
			<xs:enumeration value="AdESig-QC" />
			<xs:enumeration value="AdESeal-QC" />
			<xs:enumeration value="AdES?-QC" />
			<xs:enumeration value="AdESig" />
			<xs:enumeration value="AdESeal" />
			<xs:enumeration value="AdES?" />
			
			<xs:enumeration value="Indeterminate QESig" />
			<xs:enumeration value="Indeterminate QESeal" />
			<xs:enumeration value="Indeterminate QES?" />
			<xs:enumeration value="Indeterminate AdESig-QC" />
			<xs:enumeration value="Indeterminate AdESeal-QC" />
			<xs:enumeration value="Indeterminate AdES?-QC" />
			<xs:enumeration value="Indeterminate AdESig" />
			<xs:enumeration value="Indeterminate AdESeal" />
			<xs:enumeration value="Indeterminate AdES?" />
		
			<xs:enumeration value="Not AdES but QC with QSCD" />
			<xs:enumeration value="Not AdES but QC" />
			<xs:enumeration value="Not AdES" />
			
			<xs:enumeration value="N/A" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Context" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SIGNATURE" />
			<xs:enumeration value="COUNTER_SIGNATURE" />
			<xs:enumeration value="TIMESTAMP" />
			<xs:enumeration value="REVOCATION" />
			<!-- For Qualification -->
			<xs:enumeration value="CERTIFICATE" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ValidationTime" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CERTIFICATE_ISSUANCE_TIME" />
			<xs:enumeration value="BEST_SIGNATURE_TIME" />
			<xs:enumeration value="VALIDATION_TIME" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CertificateChain">
		<xs:sequence>
			<xs:element name="ChainItem" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Source" type="CertificateSourceType" />
					</xs:sequence>
					<xs:attribute name="Id" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="CertificateSourceType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUSTED_STORE" />
			<xs:enumeration value="TRUSTED_LIST" />
			<xs:enumeration value="SIGNATURE" />
			<xs:enumeration value="OCSP_RESPONSE" />
			<xs:enumeration value="OTHER" />
			<xs:enumeration value="AIA" />
			<xs:enumeration value="TIMESTAMP" />
			<xs:enumeration value="UNKNOWN" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="RevocationInformation">
		<xs:sequence>
			<xs:element name="CertificateId" type="xs:string" />
			<xs:element name="RevocationId" type="xs:string" />
			<xs:element name="Reason" type="RevocationReason" minOccurs="0" />
			<xs:element name="RevocationDate" type="xs:dateTime" />		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CryptographicInformation">
		<xs:sequence>
			<xs:element name="Algorithm" type="xs:string" />
			<xs:element name="KeyLength" type="xs:string" />
			<xs:element name="Secure" type="xs:boolean" />
			<xs:element name="NotAfter" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="RevocationReason" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unspecified" />
			<xs:enumeration value="keyCompromise" />
			<xs:enumeration value="cACompromise" />
			<xs:enumeration value="affiliationChanged" />
			<xs:enumeration value="superseded" />
			<xs:enumeration value="cessationOfOperation" />
			<xs:enumeration value="certificateHold" />
			<xs:enumeration value="removeFromCRL" />
			<xs:enumeration value="privilegeWithdrawn" />
			<xs:enumeration value="aACompromise" />
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>